<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="BackupFolderPath" value="\\msk-sql-006\DBBackups\ByCases" />
    <add key="CaseIdPattern" value="\d{6}" />
  </appSettings>
  <connectionStrings>
    <add name="DbSpacesModel" connectionString="data source=msk-sql-006;initial catalog=DBSpaces;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>